/* shared styles */
* {
  margin: 0;
  padding: 0;
}
.primary {
  color: rgb(255, 40, 40);
}
/* nav menu styles */
.nav-container {
  display: flex;
  background-color: grey;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.nav-box-logo {
  width: 60%;
}
.nav-box-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: white;
  text-align: center;
  width: 30%;
  gap: 25px;
  font-size: 20px;
  font-weight: 450;
}

/* banner styles here  */

.banner-container {
  height: 100vh;
  background-image: url("./asset/image/bg2.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.75));
  background-position: center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: rgb(254, 255, 212);
  font-size: 75px;
  font-weight: bold;
}
.description {
  color: blanchedalmond;
  padding: 10px;
  width: 50%;
  margin: auto;
  font-size: 20px;
}
.btn {
  padding: 1% 2.5%;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin-right: 5%;
}
.discover {
  background-color: red;
  color: white;
}

/* main. */
.service-container {
  height: 100vh;
  background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0.9));
  background-position: center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  justify-content: space-around;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
}
.icon {
  width: 70px;
  margin-bottom: 20px;
}
.box {
  text-align: center;
  width: 150px;
  height: 120px;
  padding: 50px;
  background-color: white;
  color: black;
  border-radius: 5px;
  align-items: center;
}
.first-two-box {
  display: flex;
  gap: 3px;
}
.second-two-box {
  display: flex;
  gap: 3px;
  margin-top: 5px;
}
.service-btn {
  background-color: rgba(247, 247, 247, 0.085);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(239, 0, 0);
  padding: 20px 45px;
  border-radius: 30px;
  text-align: center;
  margin-left: 15%;
  font-size: 20px;
  font-weight: 500;
}
.service-title {
  font-size: 55px;
  font-weight: 700;
  padding-top: 20px;
}

.service-description {
  width: 50%;
  padding: 10px 0;
}
.service-list {
  padding: 15px;
}
.btn2 {
  padding: 10px 50px;
  font-size: small;
}
.contact {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ceo {
  display: flex;
  align-items: center;
  gap: 20px;
  border-right: 1px solid red;
}
.ceo-img {
  border-radius: 50%;
  width: 80px;
}
.ceo-info {
  width: 130px;
}
.ceo-info > small {
  font-size: small;
}
.consultation {
  display: flex;
  width: 63%;
  margin: auto;
  background-color: #d02d2d;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  border-radius: 20px;
  margin-top: -90px;
  color: white;
}
.consult-call {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 10px;
  padding-left: 20px;
  text-align: center;
  border-right: 1px solid grey;
  /* margin-right: 1px; */
}
.consult-phone {
  padding: 10px;
}
.consult-text {
  font-size: 12px;
}
.consult-info {
  width: 50%;
  text-align: left;
  /* border: 1px solid white; */
  margin-right: 2px;
}
.consult-btn {
  width: 15%;
}
.blog {
  margin-top: 50px;
}
.blog-title {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}
#blog-mainhead {
  font-size: 50px;
}
#blog-subhead {
  font-size: 18px;
}
.blog-news-box {
  display: flex;
  justify-content: space-around;

  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.box {
  width: 280px;
  height: 370px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey;
  padding: 0;
  border-radius: 10px;
}
.box-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.box-text-title {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}
.box-text {
  font-size: 16px;
  text-align: left;
  padding: 10px;
}
